html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 80, color-stop(42%, #eeeeee), color-stop(80%, #cccccc));
  background: -moz-radial-gradient(#eeeeee 42%, #cccccc 80%);
  background: radial-gradient(#eeeeee 42%, #cccccc 80%);
}

body {
  min-width: 480px;
}

.header {
  *zoom: 1;
  margin-top: 4em;
  max-width: 1040px;
}
.header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

h1 {
  max-width: 436px;
  float: left;
  margin-bottom: 1em;
  margin-left: 2em;
}

#description {
  float: right;
  margin-top: 1em;
  margin-right: 2em;
}
#description .line {
  line-height: 1.4em;
  text-indent: 2em;
  display: block;
  font-family: Copse, Arial, serif;
  color: #01498e;
}
#description .line + .line {
  text-indent: 1.5em;
}
#description .line + .line + .line {
  text-indent: 1em;
}
#description .line + .line + .line + .line {
  text-indent: 0.5em;
}

form {
  -moz-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  display: block;
  clear: both;
  background-color: #f56c1c;
  margin-top: 2em;
  margin-left: -2em;
  width: 80%;
  padding: 1em 0;
  font-family: Copse, Arial, serif;
}
form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
form .form-inner {
  -moz-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 60%;
  float: right;
  margin-right: 3em;
  text-align: right;
}
form .input-wrapper {
  -moz-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em;
  background-color: white;
}
form input[type="text"] {
  -moz-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 100%;
  border: none;
  font-size: 1.4em;
  font-family: Copse, Arial, serif;
  color: #01498e;
}
form .go-easy-on-us {
  font-size: 0.8em;
  color: white;
}
form .submit-wrapper {
  -moz-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #fbcc00;
}
form input[type="submit"] {
  -moz-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  border: none;
  background-color: transparent;
  font-family: Copse, Arial, serif;
  font-style: italic;
  font-size: 1.4em;
  color: #6c1563;
}

.results {
  font-family: Copse, Arial, serif;
  margin: 2em 0 2em 2em;
}
.results .title {
  display: block;
  margin: 0.5em 0;
  font-size: 1.6em;
  color: #ea3c35;
}
.results .link {
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  display: block;
  margin-bottom: 2em;
  text-decoration: none;
  color: #666666;
}

.donator {
  width: 400px;
}
.donator:nth-child(odd) {
  margin-right: 20px;
}
.donator h3 {
  font-size: 2em;
  line-height: 1em;
  color: #6c1563;
  margin-bottom: 0.75em;
}
.donator p {
  line-height: 1.3em;
  font-size: 12px;
  font-family: Copse, Arial, serif;
}
.donator .valor {
  color: #ea3c35;
}

.total {
  margin: 2em 0;
}
.total .label {
  font-size: 2em;
  color: #01498e;
}
.total .value-wrapper {
  -moz-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  padding: 0.25em;
  font-size: 2em;
  background-color: #f56c1c;
}
.total .value {
  -moz-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  color: white;
}
