$def with (lista, url, story)

<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"> 

<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Checa.Url</title>
<link type="text/css" rel="stylesheet" media="all" href="static/stylesheets/screen.css" />
<link type="text/css" rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Copse" />
</head>

<body>

<div class="header">
<h1><img id="logo" src="static/images/logo.png" alt="Checa.Url" /></h1>

<p id="description">
<span class="line">ChequeURL é um aplicativo que enriquece as informações </span>
<span class="line">jornalísticas comparando Empresas com Doações realizadas </span>
<span class="line">nas Campanhas Eleitorais para melhor contextualizar </span>
<span class="line">as relações entre Dinheiro e Poder.</span>
</p>
</div> <!-- header -->

<form action="/" method="get">
<div class="form-inner">
    
<div class="input-wrapper">
<input type="text" name="url" placeholder="coloque aqui a url da noticia..." size="30"/>
</div><!-- input-wrapper -->

<span class="go-easy-on-us">Use com moderação</span>

<div class="submit-wrapper">
<input type="submit" value="Pesquisar" />
</div><!-- submit-wrapper -->

</div><!-- form-inner -->
</form>

$if story:
    <h2 class="results">
    <span class="title">Noticia consultada:</span>
    <a class="link" href="$url">$story.html.head.title.renderContents()</a>
    </div><!-- results -->

    $for empresa in lista:
        <div>
        <h2><a href="http://spce2010.tse.jus.br/spceweb.consulta.receitasdespesas2010/abrirTelaReceitasCandidato.action?sqCandidato=&rb1=on&rbTipo=on&nrCandidato=&nmCandidato=&sgUe=&sgPartido=&cpfCnpjDoador=$empresa[0][1]&codigoEspecieRecurso=&action%3AresumoReceitasByCandidato=Resumo" title="$empresa[0][0]">$empresa[0][6]</a></h2>
        $code:
            total = 0
        $for doacao in empresa:
            $code:			
                valor = doacao[2].encode('utf-8').translate(None,'R$.,')	
                total = int(valor) + total
            <h3>Doou $doacao[2] para $doacao[3] do $doacao[5] em $doacao[4]</h3>
        <span class="total">Total: $total</span>	
        </div>

</body>
