<html>
<head>
	<meta charset="utf-8" /> 
	<title>Cheque.url</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" /> 
</head>
<body>

<div id="header">
	<h1>Cheque.url</h1>
	<span class="blurb">
	<p>O site Cheque.url compara empresas e personagens nas notícias com a base de dados de doadores de campanha. Acreditamos que permitir ao cidadão conhecer as relações de dinheiro e poder pode ajudar a contextualizar informação...</p>
	</span>
</div>

<div id="search">
<form action="/" method="get">
	<input class="box" type="text" name="url" value="coloque aqui a url da noticia..." size="30"/>
	<input class="button" type="submit" value="Pesquisar" />
</form>
<span>use com moderação</span>
</div>

<div id="footer">
<a href="">Contato</a>|<a href="">Termos de uso</a>|<a href="">FAQ</a> <a href="http://blog.esfera.mobi"><img src="esfera.png"></a>
</div>
</body>
</html>

